<header>
 <a href="[% c.uri_for('/') %]"><img src="[% static('images/logo.png') %]" width="270" height="72" alt="Trapper"></a>
[% # Include the navigation
IF page.nav && page.nav != 'none';
    PROCESS "site/nav/${page.nav}.tt";
END;
~%]
</header>
<aside id="sidebar">
 <nav>
 </nav>
</aside>
